# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/

# PyCharm
.idea/
.ropeproject/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Data
data/

# Configs & secrets
config.ini

# Logs & DB
*.log
*.sqlite3

# macOS
.DS_Store

# Testing / typing
.pytest_cache/
.mypy_cache/

# older version
*~
